body {
  background-color: #fbfbfb;
  color: #192f3f;
}

.app {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
}

.search-header {
  font-weight: 600;
  font-size: 1.33rem;
  margin-bottom: 13px;
}

hr {
  border: 1px solid #e0e6ed;
  border-bottom: none;
}
