.custom-button {
  background-color: #39a7f0;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 23px;
  height: 40px;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.small-button {
  height: 30px;
  padding: 0 17.5px;
}

.secondary-button {
  background-color: #a8b5c6;
}

.button-container {
  margin-top: 21px;
  display: flex;
}

.button-container > button {
  margin-right: 30px;
}

.button-content {
  display: flex;
  justify-content: space-evenly;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button {
  width: 140px;
}
