.small-select {
  width: 153px;
}

.medium-select {
  width: 240px;
}

.select-option {
  height: 34px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.custom-select {
  height: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.select-option.selected {
  font-weight: 800;
}

.select-option:hover {
  background-color: #e0e6ed;
}

.select-header {
  padding: 5.5px 8px;
  height: 17px;
  display: flex;
  align-items: center;
}

.select-options {
  box-shadow: 0 0 7px #e0e6ed;
  margin-top: 7px;
  border: #e0e6ed solid 1px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 9;
  padding: 12px 0;
}
