.predicate-form {
  margin: 10px 0;
  border: #c8d0db solid 1px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  padding: 19px 0 19px 16px;
  align-items: center;
}

.medium-input {
  width: 229px;
}

.small-input {
  width: 141px;
}

.custom-input {
  margin-left: 10px;
  border: #a8b5c6 solid 1px;
  border-radius: 4px;
  height: 26px;
  padding-left: 6px;
  font-size: 0.9rem;
}

.custom-input::placeholder {
  font-style: italic;
  font-size: 0.5rem;
}

.x {
  width: 16px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #5f6f83;
  cursor: pointer;
}
