.word {
  margin-left: 11px;
  background-color: #e0e6ed;
  border: #a8b5c6 solid 1px;
  border-radius: 4px;
  height: 28px;
  padding: 0 8px;
  min-width: 13px;
  display: flex;
  align-items: center;
}
